$themeColor1: #4a707a;
$themeColor2: #7697a0;
$themeColor3: #94b0b7;
$themeColor4: #c2c8c5;
$themeColor5: #ddddda;

::-webkit-scrollbar-track {
    background-color: $themeColor5;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: $themeColor1;
}
* {
    scroll-behavior: smooth;
}
html {
    height: -webkit-fill-available;
}
body {
    margin: 0;
    height: 100vh;
    height: -moz-available;
    height: -webkit-fill-available;
    font:
        16px/1.7 "Titillium Web",
        "Noto Sans TC",
        sans-serif;
    overflow: hidden;
}

a {
    color: $themeColor1;
    transition: all 0.2s ease;
    &:hover {
        color: $themeColor2;
    }
}

img {
    max-width: 100%;
}

.material-symbols-outlined {
    font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
}

.wrapper {
    position: relative;
    width: 100;
    height: 100%;
    height: fill-available;
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100%;
    overflow: hidden auto;
    text-align: center;
    transition: all 0.2s ease;
    &.single-page {
        max-width: 500px;
    }
}

#result-box {
    display: none;
    &.show {
        display: block;
    }
}

#headline {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.button {
    padding: 0.5em 1em;
    border: 2px solid $themeColor1;
    border-radius: 2em;
    background: #fff;
    color: $themeColor1;
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
        background-color: $themeColor1;
        color: $themeColor5;
        text-decoration: none;
    }
    &.large {
        padding: 1em 2em;
    }
    &.siginificant {
        background: $themeColor1;
        color: $themeColor5;
        text-decoration: none;
        &:hover {
            background: #fff;
            color: $themeColor1;
        }
    }
    &.icon-style {
        padding: 1em;
    }
}
.home-banner {
    img {
        width: 61.8%;
    }
}
.site-form {
    margin: 0 auto;
    width: 61.8%;
    text-align: left;
}

.form-control {
    &:focus {
        border-color: $themeColor1;
        box-shadow: 0 0 0 0.2rem $themeColor4;
    }
}

.roomlist-container {
    position: relative;
    border-right: 2px solid $themeColor1;
    width: 300px;
    background: #fff;
    transition: all 0.2s ease;
    box-sizing: border-box;
    @media screen and (max-width: 768px) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    .no-rooms:not(:last-child) {
        display: none;
    }
    .roomlist-item {
        margin: 0 1rem;
        padding: 1rem 2rem;
        border-radius: 1rem;
        text-align: left;
        cursor: pointer;
        transition: all 0.2s ease;
        box-sizing: border-box;
        &:hover {
            background-color: $themeColor5;
        }
        &.active {
            border-color: $themeColor1;
            background-color: $themeColor1;
        }
        .room-name {
            margin: 0;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
}

#add-room {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

.chat-room {
    transition: all 0.2s ease;
    background: url("../image/chat-background.jpg") center/cover no-repeat;
    box-sizing: border-box;
    @media screen and (max-width: 768px) {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateX(300px);
        overflow: hidden;
        z-index: 0;
    }
    .room-container {
        margin: auto;
        width: 400px;
        height: 100%;
        overflow: auto;
        @media screen and (max-width: 400px) {
            width: 100%;
        }
    }
    .message {
        margin: 1em;
        cursor: default;
        .message-name {
            margin: 0;
            padding: 0 1em;
        }
        .message-content {
            display: inline-block;
            position: relative;
            margin: 0;
            padding: 0.5em 1em;
            border-radius: 1em;
            background: $themeColor5;
        }
        &.message-self {
            margin-left: auto;
            max-width: 61.8%;
            text-align: right;
            .message-content {
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    border-top: 0.5em solid transparent;
                    border-left: 0.5em solid $themeColor5;
                    border-bottom: 0.5em solid transparent;
                    width: 0;
                    height: 0;
                    transform: translateY(-50%);
                }
            }
        }
        &.message-others {
            margin-right: auto;
            max-width: 61.8%;
            text-align: left;
            .message-content {
                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 100%;
                    border-top: 0.5em solid transparent;
                    border-right: 0.5em solid $themeColor5;
                    border-bottom: 0.5em solid transparent;
                    width: 0;
                    height: 0;
                    transform: translateY(-50%);
                }
            }
        }
        &.message-system {
            .message-name {
                display: none;
            }
            .message-content {
                background: transparent;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .sidebar-hide {
        .roomlist-container {
            transform: translateX(-300px);
        }
        .chat-room {
            transform: translateX(0);
        }
    }
}
.message-bar {
    padding: 2rem 1rem;
}
#sidebar-menu {
    display: none;
    position: absolute;
    left: 0;
    bottom: 7rem;
    margin: 0;
    padding: 0.5rem 1rem;
    border-left: none;
    border-radius: 0 1rem 1rem 0;
    @media screen and (max-width: 768px) {
        display: block;
    }
}
#input-bar {
    flex: 1;
    outline: none;
    margin: 0 0.5rem;
    padding: 1rem;
    border: none;
    border-radius: 2em;
    min-width: 0;
    box-shadow: 0 0 18px -4px $themeColor4;
    box-sizing: border-box;
    transition: all 0.2s ease;
    &:focus,
    &:hover {
        box-shadow: 0 0 18px 0 $themeColor3;
    }
}
#send-message {
    margin: 0 0.5rem;
    padding: 0.5em 1em;
    border-radius: 2em;
}
